<!DOCTYPE html>
<html ng-app="MyApp">
    <head>
        <title>Socket IO Example</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div ng-controller="MyCtrl">
            <label>Message:</label>
            <input type="text" ng-model="message"/>
            <button ng-click="sendMsg(message)">Send</button>

            <div>Console:</div>
            <pre ng-bind-html="serverLog"></pre>
        </div>

        <script src="http://localhost:8181/socket.io/socket.io.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="app.js"></script>
    </body>
</html>
