body, button, input {
    font-family: Arial;
    font-size: 1.3em;
}
body {
    background-color: black;
}
button {
    width: 100px;
    height: 50px;
}
pre {
    margin: 0;
    padding-left: 20px;
    background-color: black;
    color: green;
    height: 200px;
    overflow: auto;
}
.control {
    padding: 20px;
    background-color: silver;
}
label {
    width: 200px;
    font-size: 15pt;
    display: block;
    float: left;
}
input[type=text] {
    width: 900px;
    border: 1px solid gray;
    padding: 10px;
}
h1 {
    color: yellow;
    margin: 0;
    padding: 0px 0px 20px 20px;
}
h2 {
    padding: 20px;
    margin: 0;
    font-size: 13pt;
    background-color: black;
    color: white;
    font-weight: normal;
}